body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Main CSS */
.mt-6 {
  margin-top: 5rem;
}
.text-soft {
  color: #aaa;
}
.page-color {
  background-color: #052b47;
  color: white;
}
.navbar-gap {
  margin-top: 4rem;
}
.icon-gold {
  color: #f7b52a;
}
